<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <title>Expense Tracker</title>
</head>

<body>
  <!-- nav -->
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-weight: 700" href="#">家庭記帳本</a>
      <a class="btn btn-outline-dark" style="color:rgb(211, 72, 17); font-weight: 700" href="">登出</a>
    </div>
  </nav>

  {{{body}}}
  <script src="/javascript/popper.js"> </script>
  <script src="/javascript/bootstrap.js"> </script>
</body>

</html>